<ul>
  <li> <strong>Author:</strong>  Stefan Jankovic</li>
  <li> <strong>App version:</strong>  1.0.0</li>
  <li> <strong>Frontend:</strong> Angular 6.1.0</li>
  <li> <strong>Backend:</strong> Express 4.16.3</li>
  <li> <strong>Database:</strong> MongoDB:<a style="font-size: 20px" target="_blank" href="https://mlab.com/databases/mern_list/collections/users">users</a></li>
  <li style="background: #F2F2F2"></li>
  <li> <a href="https://github.com/stjankovic" target="_blank">Github</a></li>
  <li> <a href="https://www.instagram.com/stjankovic/" target="_blank">Instagram</a></li>
  <li> <a href="https://www.facebook.com/stjankovic" target="_blank">Facebook</a></li>

</ul>
